<h1>teste</h1>
<h1>Formulario de Cadastro</h1>



<form action="/submit" method="post">

   <label for="id">ID:</label>
   <input type="text" id="id" name="id">

   <label for="nome">Nome:</label>
   <input type="text" id="nome" name="nome">

   <label for="idade">Idade:</label>
   <input type="text" id="idade" name="idade">
   
   <button type="submit">Enviar</button>
</form>