<h1>Consulta de usuarios</h1>

<h2>Lista de Usuários</h2>
{{#if users}}
<table>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Idade</th>
    </tr>
    {{#each users}}
    <tr>
        <td>{{@key}}</td>
        <td>{{this.nome}}</td>
        <td>{{this.idade}}</td>
    </tr>
    {{/each}}
</table>
{{else}}
<p>Nenhum usuario encontrado</p>
{{/if}}